@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollLoop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: scrollLoop 30s linear infinite;
}

